.App {
  text-align: center;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  align-content: center;
  border-spacing: 50px 3em;
}

.table-list-header {
  position: sticky;
  top: 0;
  z-index: 32;
  height: 50px;
  margin-top: 20px;
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 6px 6px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-list-large-header {
  height: 80px;
}

.table-list-header-item {
  padding-left: 16px;
  color: #24292e;
  font-weight: 600;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
}

.table-list-header-item:last-child {
  padding-right: 16px;
}

.table-list {
  border-bottom-color: #eaecef;
  display: table;
  width: 100%;
  color: #6a737d;
  table-layout: fixed;
  border-bottom: 1px solid #e1e4e8;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.table-list-item {
  position: relative;
  display: table-row;
  list-style: none;
}

.table-list-cell {
  position: relative;
  display: table-cell;
  padding: 16px 0px 16px 16px;
  font-size: 12px;
  border-top: 1px solid #eaecef;
  vertical-align: middle;
}

.member-avatar-cell {
  width: 64px;
}

.member-avatar {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-style: none;
}

.member-name {
  font-size: 16px;
  text-align: left;
}

.table-list-cell:first-child {
  border-left: 1px solid #eaecef;
}

.table-list-cell:last-child {
  border-right: 1px solid #eaecef;
  padding-right: 16px;
}

.kudos-button {
  float: right;
}

.kudos-input {
  width: 500px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  margin-right: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #2ea44f;
  border-color: rgba(27, 31, 35, .15);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  appearance: none;
}

.btn-primary:hover {
  background-color: #2c974b;
  transition-duration: .1s;
}

.btn-primary:focus {
  outline: none;
}

.body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.table-list-cell-link {
  color: blue;
}